/*Estilização da área Sobre nós*/
  #about {
    background: white;
  }
  
  #about .container {
    margin: 0;
  }
  
  #about .image {
    position: relative;
  }
  
  #about .image::before {
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(
      270deg,
      hsla(var(--hue), 36%, 57%, 1),
      hsla(var(--hue), 65%, 88%, 0.34)
    );
    position: absolute;
    top: -10.3%;
    left: -33%;
    z-index: 0;
  }
  
  #about .image img {
    position: relative;
  }
  
  #about .image img,
  #about .image::before {
    border-radius: 0.25rem;
  }
  
  #about .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }