/*Divisores de páginação*/
.divider-1 {
    height: 1px;
    background: linear-gradient(
      270deg,
      hsla(var(--hue), 36%, 57%, 1),
      hsla(var(--hue), 65%, 88%, 0.34)
    );
  }
  
  .divider-2 {
    height: 1px;
    background: linear-gradient(
      270deg,
      hsla(var(--hue), 65%, 88%, 0.34),
      hsla(var(--hue), 36%, 57%, 1)
    );
  }